/* For whatever reason, only Ambiant-Mate, Radiant-Mate, and Arc-Dark have a terminal background that's not pure white, and mate-terminal doesn't have an option to request the dark varient.  Workaround here. */
vte-terminal {
    -TerminalScreen-background-darkness: 0.95;
    background-color: @dark_bg_color;
    color: @dark_fg_color;
}
